@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: Montserrat;
}
.card {
    background: #fff;
    box-shadow: 0 0 15px black;
    border-radius: 30px;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.card-content {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.card-img img{
    /* background-color: blue; */
    width: 200px;
}
.card-txt {
    display: flex;
    /* background: green; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.card-text {
    /* background: purple; */
}
.card-txt-name {
    font-size: 25px;
    font-weight: bold;
    /* background: lightblue; */
    margin-bottom: 15px;
    margin: 0;
}
.card-txt-price{
    margin-top: 5px;
    
}
.card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
#span-price{
    font-weight: 600;
    font-size: 20px;
}
#span-zacherk{
    text-decoration: line-through;
    margin-left: 10px;
    color: rgb(43, 43, 43);
}