<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/autorization.css">
</head>
<body>
    <div class="aut">
        <div class="aut-content">
            <div class="aut-avatar-name">
                <img src="../static/img/avatar-logo.png" alt="">
                <p>Аккаунт</p>
            </div>
            <div class="aut-form">

                <div class="aut-email">
                    <input type="email" name="aut-email" id="" placeholder="Email@gmail.com:">
                </div>
                <div class="aut-pass">
                    <input type="password" name="password" id="" placeholder="Пароль:">
                </div>
                <div class="void">
                    <input class="join" type="button" name="aut-btn" id="" value="Войти">
                    <input class="regist" type="button" name="aut-btn" id="" value="Зарегестрироваться">
                </div>
            </div>
            
<a class="backtohome" href="./index.html">Вернуться на главную</a>

        </div>
    </div>
</body>
</html>