<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/autorization.css">
</head>
<body>
    <div class="aut">
        <div class="aut-content">
            <div class="aut-avatar-name">
                <img src="../static/img/avatar-logo.png" alt="">
                <p>Аккаунт</p>
            </div>
            <div class="aut-form">

                <div class="aut-name">
                    <input type="text" name="aut-name" id="" placeholder="Иванов Иван">
                </div>
                <div class="aut-email">
                    <input type="email" name="aut-email" id="" placeholder="email@gmail.com">
                </div>
                <div class="aut-phone">
                    <input type="number" name="phone" id="" placeholder="+7(999) 999 99 99">
                </div>
                <input class="btn" type="button" name="aut-btn" id="" value="Войти">
            </div>
            


        </div>
    </div>
</body>
</html>