<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/autorization.css">
</head>
<body>
    <div class="aut">
        <div class="aut-content">
            <div class="aut-avatar-name">
                <img src="../static/img/avatar-logo.png" alt="">
                <p>Аккаунт</p>
            </div>
            <div class="aut-form">
                <div class="aut-name"></div>
                <div class="aut-email"></div>
                <div class="aut-phone"></div>
                <button class="aut-btn"></button>
            </div>
            


        </div>
    </div>
</body>
</html>