<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PLOTT.</title>
  <link rel="stylesheet" href="../static/css/base.css">
  {% block head %}{% endblock %}
</head>

<body>
        <div class="menu">
            <div class="menu1">
                <div class="menu-catalog">
                    <ul class="menu-menu">
                        <li id="li-kat">  
                            <a id="catalog-for-polosochki"  href="./shop.html">
                                Каталог 
                            </a>
                            <ul>
                                <li>
                                    <a id="arrow" href="#">Кухня</a>
                                    <ul>
                                        <li><a href="#">Приборы</a></li>
                                        <li><a href="#">Кастрюли</a></li>
                                        <li><a href="#">Столы</a></li>
                                        <li><a href="#">Стулья</a></li>
                                        <li><a href="#">Тарелки</a></li>
                                        <li><a href="#">Стаканы</a></li>
                                    </ul>
                                </li>

                            <li><a id="arrow" href="#">Гостиная</a>
                                <ul>
                                    <li><a href="#">Диваны</a></li>
                                    <li><a href="#">Кресла</a></li>
                                    <li><a href="#">Столики</a></li>
                                    <li><a href="#">Зеркала</a></li>
                                    <li><a href="#">Свечи</a></li>
                                </ul>
                            </li>
                            <li><a id="arrow" href="#">Ванная</a>
                                <ul>
                                    <li><a href="#">Аксессуары</a></li>
                                    <li><a href="#">Полотенца</a></li>
                                    <li><a href="#">Коврики</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                
            </div>
            </div>
            <div class="menu-search">
                <form action="" class="form-search" >
                    <input  placeholder="Поиск" type="text">
                    <!-- <button type="submit"></button> -->
                </form>
            </div>
            <div class="menu2">
            <div class="menu-shop-btn">
                <a href="./trash.html">
                    <img src="../static/img/menu-shop.png" alt="" class="menu-shop-btn-img">
                </a>
            </div>
            <div class="menu-account">
                <a href="./auth.html">
                    <span class="account-name">Войти</span>
                    <img src="../static/img/avatar-logo.png" alt="" class="avatar-logo">
                </a>
            </div>
        </div>
        </div>
  {% block body %}{% endblock %}


<div class="footer">
        <div class="footer-content">
            <div class="footer-krd">Краснодар</div>
            <div class="footer-politica">
                <div class="footer-h3">Политика обработки персональных данных</div>
                <div class="footer-p">*PLOTT. — лауреат ежегодной Премии доверия потребителей 
                    «Марка № 1 в России» в 2024 году в категории «Гипермаркет мебели и товаров 
                    для дома» по результатам голосования потребителей на основании критериев 
                    известности и воспринимаемого качества. Подробнее
                    ООО «Домашний Интерьер», ОГРН: 1077763747269 385132, г. Краснодар, 
                    ул. Садовая, д.218
                    © Plott, 2024</div>
            </div>
        </div>
    </div>

</body>
</html>