    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/card.css">
    </head>
    <body>
    <div class="card">
        <div class="card-content">
            <div class="card-img">
                <img src="../static/img/card1.png" alt="Кресло Гауди">
            </div>
            <div class="card-txt">
                <div class="card-text">
                    <div class="card-txt-name">Кресло Гауди</div>
                    <div class="card-txt-price">
                        <span id="span-price">9 999₽</span>
                        <span id="span-zacherk">12 999₽</span>
                    </div>
                </div>
                <div class="card-btn">
                    <a href="">
                        <img src="../static/img/to-trash-logo.png" alt="Добавить в корзину">
                    </a>
                </div>
            </div>
        </div>
    </div>
    </body>
    </html>