<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLOTT. КАТАЛОГ</title>
    <link rel="stylesheet" href="../static/css/catalog.css">
</head>
<body>
    <div class="catall">
        <div class="catall-content">
            <h1 class="catall-h1">Каталог</h1>
            <div class="catall-blocks">
                <div class="catall-bl1" id="tarelka">
                    <div class="catall-bl1-content"><p>Новинки</p></div>
                </div>
                <div class="catall-bl1" id="kastrulya">
                    <div class="catall-bl1-content"><p>Кухня</p></div>
                </div>
                <div class="catall-bl1" id="stakan">
                    <div class="catall-bl1-content" ><p>Столовая</p></div>
                </div>
                <div class="catall-bl1" id="gost">
                    <div class="catall-bl1-content" ><p>Гостиная</p></div>
                </div>
                <div class="catall-bl1" id="Bath">
                    <div class="catall-bl1-content" ><p>Ванная</p></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>