{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block body %}
    
    
        <div class="header-bg-transparent">
         <div class="header-content">
            <div class="header-text">
                <div class="header-h1"><h1>PLOTT. ТОВАРЫ ДЛЯ ДОМА</h1></div>
                <div class="header-p"><p>Широкий ассортимент качественной мебели, 
                    текстиля, посуды и других товаров для создания уютного и 
                    стильного интерьера</p></div>
                <div class="header-btn">
                    <a href="./shop">
                        <div class="header-btn-btn">К товарам</div>
                    </a>
                </div>
            </div>
            <div class="header-img">
                <!-- <img src="./img/Диван.png" alt=""> -->
            </div>
         </div>
        </div>
    </div>
<!-- БЛОК О НАШЕМ МАГАЗИНЕ -->

    <div class="section2">
        <div class="section2_content">
            <h2 class="sec2-h2">О нашем магазине</h2>
            <div class="sec2-block">
                <div class="sec2-text">
                    <h3 class="sec2-h3">PLOTT.</h3>
                    <p class="sec2-p">Наш интернет-магазин предлагает широкий 
                        ассортимент высококачественных товаров для дома и быта. 
                        Мы специализируемся на продаже мебели, текстиля, посуды, 
                        бытовой техники и других предметов, которые сделают ваш 
                        дом уютным и комфортным. 
                        <br>
                        <br>
                        В нашем ассортименте представлен широкий выбор мебели, 
                        текстиля, посуды, декора и других предметов для обустройства 
                        вашего жилого пространства. Мы тщательно отбираем только 
                        качественные и красивые товары от проверенных производителей, 
                        чтобы вы могли создать идеальную атмосферу в своем доме.
                    </p>
                </div>
                <div class="sec2-chair">
                    <!-- <img src="./img/стул.png" alt="" class="sec2-img"> -->
                </div>
            </div>
        </div>
    </div>



    <div class="section3">
        <div class="sec3-content">
            <h3 class="sec3-h3">Популярные категории</h3>
            <div class="sec3-blocks">
                <a href="#" class="sec3-block1">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Кухонные пренадлежности</div>
                    </div>
                </a>
                <a href="#" class="sec3-block2">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Аксессуары для гостиной</div>
                    </div>
                </a>
                <a href="#" class="sec3-block3">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Аксессуары для ванной</div>
                    </div>
                </a>
            </div>
        </div>
    </div>


    {% endblock %}