{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/style.css">
{% endblock %}

{% block body %}
    <div class="header">
        <div class="menu">
            <div class="menu1">
                <div class="menu-catalog">
                    <ul class="menu-menu">
                        <li id="li-kat">  
                            <a id="catalog-for-polosochki"  href="./shop.html">
                                Каталог 
                            </a>
                            <ul>
                                <li>
                                    <a id="arrow" href="#">Кухня</a>
                                    <ul>
                                        <li><a href="#">Приборы</a></li>
                                        <li><a href="#">Кастрюли</a></li>
                                        <li><a href="#">Столы</a></li>
                                        <li><a href="#">Стулья</a></li>
                                        <li><a href="#">Тарелки</a></li>
                                        <li><a href="#">Стаканы</a></li>
                                    </ul>
                                </li>

                            <li><a id="arrow" href="#">Гостиная</a>
                                <ul>
                                    <li><a href="#">Диваны</a></li>
                                    <li><a href="#">Кресла</a></li>
                                    <li><a href="#">Столики</a></li>
                                    <li><a href="#">Зеркала</a></li>
                                    <li><a href="#">Свечи</a></li>
                                </ul>
                            </li>
                            <li><a id="arrow" href="#">Ванная</a>
                                <ul>
                                    <li><a href="#">Аксессуары</a></li>
                                    <li><a href="#">Полотенца</a></li>
                                    <li><a href="#">Коврики</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>

                
            </div>
            </div>
            <div class="menu-search">
                <form action="" class="form-search" >
                    <input  placeholder="Поиск" type="text">
                    <!-- <button type="submit"></button> -->
                </form>
            </div>
            <div class="menu2">
            <div class="menu-shop-btn">
                <a href="./trash.html">
                    <img src="../static/img/menu-shop.png" alt="" class="menu-shop-btn-img">
                </a>
            </div>
            <div class="menu-account">
                <a href="./auth.html">
                    <span class="account-name">Войти</span>
                    <img src="../static/img/avatar-logo.png" alt="" class="avatar-logo">
                </a>
            </div>
        </div>
        </div>
        <div class="header-bg-transparent">
         <div class="header-content">
            <div class="header-text">
                <div class="header-h1"><h1>PLOTT. ТОВАРЫ ДЛЯ ДОМА</h1></div>
                <div class="header-p"><p>Широкий ассортимент качественной мебели, 
                    текстиля, посуды и других товаров для создания уютного и 
                    стильного интерьера</p></div>
                <div class="header-btn">
                    <a href="./shop.html">
                        <div class="header-btn-btn">К товарам</div>
                    </a>
                </div>
            </div>
            <div class="header-img">
                <!-- <img src="./img/Диван.png" alt=""> -->
            </div>
         </div>
        </div>
    </div>
<!-- БЛОК О НАШЕМ МАГАЗИНЕ -->

    <div class="section2">
        <div class="section2_content">
            <h2 class="sec2-h2">О нашем магазине</h2>
            <div class="sec2-block">
                <div class="sec2-text">
                    <h3 class="sec2-h3">PLOTT.</h3>
                    <p class="sec2-p">Наш интернет-магазин предлагает широкий 
                        ассортимент высококачественных товаров для дома и быта. 
                        Мы специализируемся на продаже мебели, текстиля, посуды, 
                        бытовой техники и других предметов, которые сделают ваш 
                        дом уютным и комфортным. 
                        <br>
                        <br>
                        В нашем ассортименте представлен широкий выбор мебели, 
                        текстиля, посуды, декора и других предметов для обустройства 
                        вашего жилого пространства. Мы тщательно отбираем только 
                        качественные и красивые товары от проверенных производителей, 
                        чтобы вы могли создать идеальную атмосферу в своем доме.
                    </p>
                </div>
                <div class="sec2-chair">
                    <!-- <img src="./img/стул.png" alt="" class="sec2-img"> -->
                </div>
            </div>
        </div>
    </div>



    <div class="section3">
        <div class="sec3-content">
            <h3 class="sec3-h3">Популярные категории</h3>
            <div class="sec3-blocks">
                <a href="#" class="sec3-block1">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Кухонные пренадлежности</div>
                    </div>
                </a>
                <a href="#" class="sec3-block2">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Аксессуары для гостиной</div>
                    </div>
                </a>
                <a href="#" class="sec3-block3">
                    <div class="sec3-block1-content">
                        <div class="sec3-block1-text">Аксессуары для ванной</div>
                    </div>
                </a>
            </div>
        </div>
    </div>




    <div class="footer">
        <div class="footer-content">
            <div class="footer-krd">Краснодар</div>
            <div class="footer-politica">
                <div class="footer-h3">Политика обработки персональных данных</div>
                <div class="footer-p">*Plott — лауреат ежегодной Премии доверия потребителей 
                    «Марка № 1 в России» в 2024 году в категории «Гипермаркет мебели и товаров 
                    для дома» по результатам голосования потребителей на основании критериев 
                    известности и воспринимаемого качества. Подробнее
                    ООО «Домашний Интерьер», ОГРН: 1077763747269 385132, г. Краснодар, 
                    ул. Садовая, д.218
                    © Plott, 2024</div>
            </div>
        </div>
    </div>


