<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Аккаунт</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <div class="container">
        <div class="header">АККАУНТ</div>
        <div class="profile-image">
            <img src="https://via.placeholder.com/100" alt="Profile Image">
            <label for="upload">Загрузить изображение</label>
            <input type="file" id="upload">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Иванов">
            <input type="email" placeholder="Email@gmail.com">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Иван">
            <input type="tel" placeholder="+7 999 999 99 99">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Иванович">
            <input type="text" placeholder="Ул. Садовая, д. 218">
        </div>
        <button class="save-button">Сохранить</button>
    </div>
</body>
</html>