<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLOTT. Shop</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="../static/css/shop.css">
</head>
<body>
    <div class="header">
        <div class="menu">
            <div class="menu1">
                <div class="menu-catalog">
                    <ul class="menu-menu">
                        <li>
                        <a id="catalog-for-polosochki" 
                        class="catalog-catalog href="#">Каталог </a>
                        <ul>
                            <li><a id="arrow" href="#">Кухня</a>
                                <ul>
                                    <li><a href="#">Приборы</a></li>
                                    <li><a href="#">Кастрюли</a></li>
                                    <li><a href="#">Столы</a></li>
                                    <li><a href="#">Стулья</a></li>
                                    <li><a href="#">Тарелки</a></li>
                                    <li><a href="#">Стаканы</a></li>
                                </ul>
                            </li>

                            <li><a id="arrow" href="#">Гостиная</a>
                                <ul>
                                    <li><a href="#">Диваны</a></li>
                                    <li><a href="#">Кресла</a></li>
                                    <li><a href="#">Столики</a></li>
                                    <li><a href="#">Зеркала</a></li>
                                    <li><a href="#">Свечи</a></li>
                                </ul>
                            </li>
                            <li><a id="arrow" href="#">Ванная</a>
                                <ul>
                                    <li><a href="#">Аксессуары</a></li>
                                    <li><a href="#">Полотенца</a></li>
                                    <li><a href="#">Коврики</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            

            </div>
            <div class="menu-search">
                <form action="" class="form-search" >
                    <input  placeholder="Поиск" type="text">
                    <!-- <button type="submit"></button> -->
                </form>
            </div>
            <div class="menu2">
            <div class="menu-shop-btn">
                <img src="../static/img/menu-shop.png" alt="" class="menu-shop-btn-img">
            </div>
            <div class="menu-account">
                <span class="account-name">Войти</span>
                <img src="../static/img/avatar-logo.png" alt="" class="avatar-logo">
            </div>
        </div>
        </div>
    </div>
</body>
</html>