{% extends "base.html" %}




{% block head %}

<link rel="stylesheet" href="../static/css/shop.css">

{% endblock %}


{% block body %}
    <div class="sec1">
        <div class="sec1-content">
<!--             
            <div class="sec1-catalog">
                <ul class="ul1">
                    <li class="li1">
                        <a class="name-catalog" id="arrow" href="#">
                            Кухня
                        </a>
                        <ul class="ul2">
                            <li><a href="#">Приборы</a></li>
                            <li><a href="#">Кастрюли</a></li>
                            <li><a href="#">Тарелки</a></li>
                            <li><a href="#">Стаканы</a></li>
                        </ul>
                    </li>

                    <li  class="li1">
                        <a class="name-catalog" id="arrow" href="#">
                            Гостиная
                        </a>
                        <ul  class="ul2">
                            <li><a href="#">Диваны</a></li>
                            <li><a href="#">Кресла</a></li>
                            <li><a href="#">Столики</a></li>
                            <li><a href="#">Зеркала</a></li>
                            <li><a href="#">Свечи</a></li>
                        </ul>
                    </li>
                    <li class="li1">
                        <a class="name-catalog" id="arrow" href="#">
                            Ванная
                        </a>
                        <ul  class="ul2">
                            <li><a href="#">Аксессуары</a></li>
                            <li><a href="#">Полотенца</a></li>
                            <li><a href="#">Коврики</a></li>
                        </ul>
                    <li class="li1">
                        <a href="./index.html" class="backtohome">На главную</a>
                    </li>
                </ul>
            </div> -->
            
            <div class="sec1-products">
                    <div class="sec1-cat-txt">
                        <h1>КАТЕГОРИИ</h1>
                    </div>
                    <div class="sec1-cat-cards">

                        <a href="./kitchen">
                        <div class="sec1-cat-card1">
                            <div class="sec1-cat-card-content">
                                <p>Кухонные приборы</p>
                            </div>
                        </div>
                        </a>
                        <a href="">
                        <div class="sec1-cat-card1" id="card2">
                            <div class="sec1-cat-card-content">
                                <p>Гостиная</p>
                            </div>
                        </div>
                        </a>
                        <a href="">
                        <div class="sec1-cat-card1" id="card3">
                            <div class="sec1-cat-card-content">
                                <p>Ванная</p>
                            </div>
                        </div>
                        </a>
                        <a href="">
                            <div class="sec1-cat-card1" id="card4">
                                <div class="sec1-cat-card-content">
                                    <p>Арома приколы</p>
                                </div>
                            </div>
                        </a>
                        <a href="">
                        <div class="sec1-cat-card1" id="card5">
                            <div class="sec1-cat-card-content">
                                <p>Аксессуары</p>
                            </div>
                        </div>
                        </a>

                    </div>

            </div>
        </div>
    </div>

{% endblock %}  